// Colors 
$black: #000;
$purple: #a421f9;

//Font Families 
$primary-font: "Poppins", sans-serif;

//Breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;